{% extends '_base.html' %}
{% load main_extras %}
{% block title %}Home{% endblock title %}

{% block content %}
    <form>
        <div class = 'row my-5'>
            <div class="container form-group row">
                <label class="col-sm-2 col-form-label" for="word">The Word Dictionary</label>
                <div class = 'col-sm-5'>
                    <input type="text" class="form-control" id="word" name='word' value='{{word}}' placeholder="Enter The Word">
                </div>
                <div class = 'col-sm-2'>
                <button class = 'btn btn-dark btn' type = 'submit'>Search</button>
                </div>
            </div>
            
        </div>
    </form>
    <!-- RESULT -->
    <div class = 'container-fluid my-5'>
        {% if Error_links %}
            <div class = 'container my-5' id = 'Error_links'>
                <h3>Maybe you were looking for...</h3>
                <ol>
                {% for link in Error_links %}
                <li class = 'm-1'><a href = '/?word={{link}}'>{{link}}</a></li>
                {% endfor %}
                </0l>
            </div>
        {% else %}
            <div class = 'container my-5' id = 'general_info'>
            <h3>{{search}}</h3>
            {% if general_info %}
                    <h5 class = 'ml-4 my-4'><span class ='font-weight-bold'>Transcription</span>: {{general_info.hw}} 
                        | {{general_info.prs}}</h5>
                    <h5 class = 'ml-4'><span class ='font-weight-bold'>Etymology</span>: {{general_info.etymology.text | link_filter | style_filter}}</h5>
            {% endif %}
            </div>
            {% if definition %}
            <div class = 'container my-5' id = 'definition'>
            <h4>Definition:</h4>
                <ol class ='font-weight-bold h4' type='1'>
                {% for key, values in definition.items %}
                <li>
                    {% for key_2, values_2 in values.items %}
                        {% if values_2.1 %}
                            <div class = 'container m-4'>
                            <h5>{{key_2}}</h5>
                            {% for key_3, values_3 in values_2.items %}
                                <div class = 'container ml-4 my-2'>
                                <h5>{{key_3}}      {{values_3.sense | link_filter | style_filter}}</h5>
                                {% if values_3.example %}
                                <h5>example        {{values_3.example | link_filter | style_filter}}</h5>
                                {% endif %}
                                {% if values_3.sdsense %}
                                <h5>         - also{{values_3.sdsense | link_filter | style_filter}}</h5>
                                {% endif %}
                                </div>
                            {% endfor %}
                            </div>
                        {% elif '2)' in values %}
                            <div class = 'container m-4'>
                                <h5>{{key_2}}      {{values_2.sense | link_filter | style_filter}}</h5>
                                {% if values_2.example %}
                                <h5>example        {{values_2.example | link_filter | style_filter}}</h5>
                                {% endif %}
                                {% if values_2.sdsense %}
                                <h5>         - also{{values_2.sdsense | link_filter | style_filter}}</h5>
                                {% endif %}
                            </div>
                        {% else %}

                            <div class = 'container m-4'>
                                <h5>               {{values_2.sense | link_filter | style_filter}}</h5>
                                {% if values_2.example %}
                                <h5>example        {{values_2.example | link_filter | style_filter}}</h5>
                                {% endif %}
                                {% if values_2.sdsense %}
                                <h5>         - also{{values_2.sdsense | link_filter | style_filter}}</h5>
                                {% endif %}
                            </div>


                        {% endif %}
                    {% endfor %}
                    </li>
                    <hr>
                {% endfor %}
                </ol>
            </div>
            {% endif %}
        {% endif %}
    </div>
    <!-- --------------  -->
{% endblock content %}