{% extends '_base.html' %}
{% load main_extras %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

<div class = 'container-fluid w-75'>

<div class = 'row'>

<div class = 'col-8 mr-4'>
    <form>
        <div class = 'container my-5'>
            <div class="container form-group row">
                <label class="col-sm-3 col-form-label" for="word">The Word Dictionary</label>
                <div class = 'col-sm-5'>
                    <input type="text" class="form-control" id="word" name='word' value='{{word}}' placeholder="Enter The Word">
                </div>
                <div class = 'col-sm-2'>
                <button class = 'btn btn-dark btn' type = 'submit'>Search</button>
                </div>
            </div>
            
        </div>
    </form>
    <!-- RESULT -->
    <div class = 'container-fluid my-5'>
        {% if Error_links %}
            <div class = 'container my-5' id = 'Error_links'>
                <h3>No entries for "{{search}}"</h3>
                <h5>Maybe you were looking for...</h5>
                <ol class ='font-weight-bold' type='1'>
                {% for link in Error_links %}
                <li class = 'm-1'><a href = '/?word={{link}}'>{{link}}</a></li>
                {% endfor %}
                </ol>
            </div>
        {% elif definition %}
            <div class = 'container my-5' id = 'general_info'>
                <div class = 'row align-items-center' id = 'main_info'>
                    <div class = 'bg-warning h3 w-25 text-center p-2 align-self-center'>{{search}}</div>
                    {% if added %}
                    <div class = 'h3 text-center py-2 px-4 align-self-center ml-4'>Added</div>
                    {% else %}
                    <div class = 'bg-dark h3 text-center py-2 px-4 align-self-center text-white myClass ml-4' id = 'add_button'  name = {{search}}>+</div>
                    {% endif %}
                </div>
            {% if general_info %}
                    <p class = 'my-4'><span class ='font-weight-bold'>Transcription</span>: <em>{{general_info.hw}} 
                        | {{general_info.prs}}</em></p>
                    <p class = ''><span class ='font-weight-bold'>Etymology</span>: {{general_info.etymology.text | link_filter | style_filter}}</p>
            {% endif %}
            </div>
            {% if definition %}
            <div class = 'container my-5' id = 'definition'>
            <h3 class = 'border-bottom border-warning w-25'>Definition:</h3>
                {% for key, values in definition.items %}


                <div class = 'row border-bottom border-warning py-3 my-3'>
                    
                    <div class = 'col-1'>
                        <div class = 'container-fluid p-1 text-center bg-warning font-weight-bold'>{{key}}</div>
                    </div>

                    <div class = 'col-10 px-3 py-2 '>
                    <ol class ='font-weight-bold mt-0 p-0' type='a'>
                    {% for key_2, values_2 in values.items %}
                        {% if values_2.1 %}
                            <li>
                                <div class = 'container mx-2'>
                                <ol class ='font-weight-bold' type='1'>
                                {% for key_3, values_3 in values_2.items %}
                                    <li>
                                        <div class = 'container ml-4 my-2'>
                                        <p class ='font-weight-light'>{{values_3.sense | link_filter | style_filter}}</p>
                                        {% if values_3.example %}
                                        <p class ='font-weight-light'>example        {{values_3.example | link_filter | style_filter}}</p>
                                        {% endif %}
                                        {% if values_3.sdsense %}
                                        <p class ='font-weight-light'>         - also{{values_3.sdsense | link_filter | style_filter}}</p>
                                        {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                                </ol>   
                                </div>
                            </li>
                        {% elif '2)' in values %}
                            <li>
                                <div class = 'container mx-2'>
                                    <p class ='font-weight-light'>{{values_2.sense | link_filter | style_filter}}</p>
                                    {% if values_2.example %}
                                    <p class ='font-weight-light'>example        {{values_2.example | link_filter | style_filter}}</p>
                                    {% endif %}
                                    {% if values_2.sdsense %}
                                    <p class ='font-weight-light'>         - also{{values_2.sdsense | link_filter | style_filter}}</p>
                                    {% endif %}
                                </div>
                            </li>

                        {% else %}

                            <div class = 'container mx-2'>
                                <p class ='font-weight-light'>               {{values_2.sense | link_filter | style_filter}}</p>
                                {% if values_2.example %}
                                <p class ='font-weight-light'>example        {{values_2.example | link_filter | style_filter}}</p>
                                {% endif %}
                                {% if values_2.sdsense %}
                                <p class ='font-weight-light'>         - also{{values_2.sdsense | link_filter | style_filter}}</p>
                                {% endif %}
                            </div>


                        {% endif %}
                        
                    {% endfor %}
                    </ol>
                    </div>
                </div>    
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}
    </div>
    <!-- --------------  -->
</div>

{% if user.is_authenticated %}
<div class = 'col-2 my-5'>
    <h4>Local history</h4>
        <div class="nav flex-column nav-pills" id="local_history" role="tablist" aria-orientation="vertical">
        </div>
</div>
{% endif %}

</div>

</div>
{% endblock content %}

{% block extrajs %}
<script  src="{% static 'js/base.js' %}"></script>
{% endblock extrajs %}